*{ 
    padding: 0%;
    margin: 0%;
}
body {
    background-image: url(./../imagenes/fuente\ 2.jpg) ;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
body:before {
    content: "";
    width: 100%;
    min-height: 200vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(#fff, #dce6df);
    opacity: 0.5;
    z-index:-1 ;
}
/* body{
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    margin-top: 0%;
}
@keyframes animacion {
    60% {background-color: #5885c4;}
    20% {background-color:#1074b3 ;}
    20%{background-color: #5b6266;}
} */

.imagen-logo {
    width: 2cm;
    border-radius: 4rem; }
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3cm;
    width: 80%;
    text-align: center;
    
}

.info img {
    width: 40cm;
  
    margin-top: 1cm;
    margin-bottom: 3cm;
    margin-left: 3cm;
   
}
div h3{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9cm;
    text-align: center;
    flex: 1;
    border: 0.2cm #fff solid;
    margin-left: 3cm;
    margin-top: 3cm;
}
div p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.7cm;
    flex: 1;
    text-align: center;
    margin-top: 0.6cm;
    margin-left: 5cm;
}

.info-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0cm;
    text-align: center;
    margin-bottom: 3cm;
}

.info-titulo p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.5cm;
    flex: 1;
    text-align: center;
    margin-top: 0.9cm;
    margin-left: 2cm;
    margin-right: 2cm;
}
.info-titulo img {
    margin-right: 2cm;
}
main h3 {
  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9cm;
    text-align: center;
    flex: 1;
    border: 0.2cm #fff solid;
    margin-left: 3cm;
    margin-top: 3cm;
    margin-right: 2cm;
    
}
.servicio-oficial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4cm;
    text-align: center;
    margin-bottom: 1cm;
    border: 0.2cm #fff solid;
    padding-left: 1cm;
    padding: 0.5cm;
}
.servicio-oficial h1 {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9cm;
    text-align: center;
    flex: 1;
    margin-left: 1cm;
    margin-top: 1cm;
    margin-right: 1cm;
}
.servicio-oficial p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.5cm;
    flex: 1;
    
    text-align: center;
    margin-top: 0.9cm;
    margin-left: 2cm;
    margin-right: 2cm;
}

footer {
    text-align: center;
    font-size: 40px;

}
@media (min-width: 768px) { 
    .card {
        display: flex;
        flex-direction: column;
    }
 }


