*{ 
    padding: 0%;
    margin: 0%;
}
main {
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    margin-top: 0%;
}
@keyframes animacion {
    60% {background-color: #5885c4;}
    20% {background-color:#1074b3 ;}
    20%{background-color: #5b6266;}
}

.imagen-logo {
    width: 4cm;
    border-radius: 4rem; }
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1cm;
    width: 90%;
}
.info img {
    width: 30cm;
    border-radius: 2cm;
    margin-top: 1cm;
    margin-left: 2cm;
    margin-right: 0cm;
    padding: 1cm;
}
div h3{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9cm;
    text-align: center;
    flex: 1;
    border: 0.2cm #fff solid;
    margin-left: 1cm;
}
div p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.7cm;
    flex: 1;
    text-align: center;
    margin-top: 0.6cm;
    margin-left: 1cm;

}